<div class="estudiante resumen">
	<div class="header">
		<nav id="navbar_index" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="col-sm-4 navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span></span><img src="../../../images/logo_app.png" class="img-responsive" alt="Cinque Terre"></span>
                
            </div>
            
            <div class="col-sm-8 collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav">
                    <li><a href="../administrador_cursos/{{idUser}}"><div class="col-sm-5">Cursos</div></a></li>
                    <li><a href="../administrador_estudiantes/{{idUser}}"><div class="text-primary  col-sm-5">Usuarios</div></a></li>
                    <li><a href="../administrador_matricular/{{idUser}}"><div class="col-sm-5">Matricular</div></a></li>
                    <li><a href="/login"><div class="text-primary col-sm-8">{{title}}</div> <div class="col-sm-4">Salir</div></a></li>
                </ul>
            </div>
        </div>
        </nav>
	</div>
	<div class="Content">
		     <div class="Curso col-sm-12">
    		        <div class="Actividad col-sm-12">Nuevo Usuario </div>
                    <div class="col-sm-4" align="left">Nombre del Usuario</div>
                    <div class="col-sm-4">Contraseña</div>
                    <div class="col-sm-4">Rol</div>
                    <form action="/administrador_estudiantes/crear/{{idUser}}" method="post">
                                <div class="col-sm-4" align="left"><input type="text" name="nombre_estudiante" step="1" value=""></div>
                                <div class="col-sm-4" align="left"><input type="password" name="contraseña" step="1" value=""></div>
                                <select class="col-sm-4" name="picked" id="sel1">
                                    <option value="1">Estudiante</option>
                                    <option value="2">Profesor</option>
                                    <option value="3">Administrador</option>
                                </select>
                            <div class="col-sm-12"></div>
                            <div class="col-sm-12">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4"><button type="submit" value="Submit">Crear Usuario</button></div>
                                <div class="col-sm-4"></div>
                            </div>
                    </form>
            </div>
            <div class="col-sm-12"></div>
            <div class="Curso col-sm-12">
                    <div class="Titulos col-sm-12">
                        <div class="col-sm-6" align="left"><Strong>Nombre del Usuario</Strong></div>
                    </div>
                    <div class="col-sm-12">Estudiantes:</div>
                    <div class="Actividad nombre col-sm-12">
                        {{#each estudiantes}}
                            <div class="Actividad col-sm-12" align="left">{{this.nombre_usuario}}</div>
                        {{/each}}
                    </div>
                    <div class="col-sm-12">Profesores:</div>
                    <div class="Actividad nombre col-sm-12">
                        {{#each profesores}}
                            <div class="Actividad col-sm-12" align="left">{{this.nombre_usuario}}</div>
                        {{/each}}
                    </div>    
                    <div class="col-sm-12">Administradores:</div>
                    <div class="Actividad nombre col-sm-12">
                        {{#each administradores}}
                            <div class="Actividad col-sm-12" align="left">{{this.nombre_usuario}}</div>
                        {{/each}}
                    </div>
            </div>
		 
	</div>	
	<div class="RightBar">

</div>