<div class="estudiante resumen">
	<div class="header">
		<nav id="navbar_index" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="col-sm-4 navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span></span><img src="../../../images/logo_app.png" class="img-responsive" alt="Cinque Terre"></span>
                
            </div>
            
            <div class="col-sm-8 collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav">
                    <li><a href="../profesor_resumen/{{idUser}}"><div class="col-sm-5">Resumen</div></a></li>
                    <li><a href="../profesor_materias/{{idUser}}"><div class="col-sm-5">Materias</div></a></li>
                    <li><a href="../profesor_nueva/{{idUser}}"><div class="text-primary col-sm-12">Crear Tarea</div></a></li>
                    <li><a href="/login"><div class="text-primary col-sm-8">{{title}}</div> <div class="col-sm-4">Salir</div></a></li>
                </ul>
            </div>
        </div>
        </nav>
	</div>
	<div class="Content">
		     <div class="Curso col-sm-12">
    		        <div class="Actividad col-sm-12">Nueva Actividad </div>
                    <div class="col-sm-6" align="left">Descripcion de la Actividad </div>
                    <div class="col-sm-6">Fechas de la Actividad </div>
                    <form action="/profesor_nueva/crear/{{idUser}}" method="post">
                            <div class="col-sm-12">
                                <div class="col-sm-6"></div>
                                <div class="col-sm-3">Fecha Inicio</div>
                                <div class="col-sm-3">Fecha Fin</div>
                            </div>
                            <div class="col-sm-6" align="left"><textarea name="descripcion" rows="4" cols="40"></textarea></div>
                            <div class="col-sm-3"><input type="date" name="fecha_inicio" step="1" value=""></div>
                            <div class="col-sm-3"><input type="date" name="fecha_fin" step="1" value=""></div>
                            <div class="col-sm-12">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-4" align="left">Asigne un porcentaje de la nota:</div>
                                <div class="col-sm-6"><input type="text" name="porcentaje_nota" step="1" value=""></div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-4" align="left">Selecciona el Curso:</div>
                                <div class="col-sm-6">
                                          <select class="form-control" name="picked" id="sel1">
                                            {{#each cursos}}
                                            <option value="{{this.id_curso}}">{{this.nombre_curso}}</option>
                                            {{/each}}
                                          </select>
                                </div>
                                
                            </div>
                        
                            <div class="col-sm-12">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4"><button type="submit" value="Submit">Crear Actividad</button></div>
                                <div class="col-sm-4"></div>
                            </div>
                    </form>

            </div>
		 
	</div>	
	<div class="RightBar">

</div>